<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../assets/hangmanstyle.css" />
    
    <title>Hangman</title>
    <script src="assets/script.js"></script>
  </head>
  <body>
    <div class="card card-easy">
      <a href="" class="easy-link">DEBUTANT</a>
    </div>
    <div class="card card-medium">
      <a href="" class="medium-link">MEDIUM</a>
    </div>
    <div class="card card-hard">
      <a href="" class="hardcore-link">HARDCORE</a>
    </div>
  </body>
</html>
