<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About Modern Hangman Web</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    

    <link rel="stylesheet" href="../assets/style.css" />

    <script src="assets/script.js"></script>
  </head>
  <body>
    <div class="preload">
      <div class="loader"></div>
      </div>
    </div>
    <div class="content">
      <header>
        <div class="triangle left"><h1>Modern Web Hangman</h1></div>
        <div class="triangle right"><h1>Modern Web Hangman</h1></div>
        <button></button>
      </header>
      <nav>
        <ul>
          <li>Rules</li>  
          <li>Game</li>
          <li>About</li>
        </ul>
        <div id="nav-close"><i class="fas fa-times"></i></div>
      </nav>
      <content>
        <section>
          <div class="box">
            <div class="title"><h1>RULES</h1></div>
            <div class="rules"><p> The Hangman is a simple and quick game that requires at least two players, paper and pencil. The player must try to guess the word by guessing this or that letter in the mystery word. Each time the player announces a bad letter, he approaches defeat. It is possible to customize this game by making it easier or more difficult. It can also be used in a playful setting. Good game! :) </p></div>
        </div>
        </section>
        <section>
          <div class="game">
            <div class="cube">
              <a href="hangman.html" span class="side top">START</a>
              <span class="side front">LET'S PLAY</span>
        </section>
        <section>
          <h1>Modern Hangman Web</h1>
          <p>
            Modern Hangman Web is a web version of the classic game Hangman. 
          </p>
          <p>
            It is made with HTML, CSS, Go and JavaScript for the front.</p>
          <p>
            By <a href="#Hayet">Hayet</a>,
            <a href="https://github.com/MelvinPETITYnov">Melvin</a> and <a href="https://github.com/LQuatre">Lucas</a>.
        </section>
      </content>
    </div>
  </body>
</html>
