<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="..\assets\playstyle.css">
    <title>Play</title>
</head>
<body>
    <div class="ma-boite"></div>

    <input type="text" name="text" class="input" placeholder="Letter or word....">

    <div class="wordfind">
        <h1 class="h1wordfind">WORD TO FIND</h1>
    </div>

    <div class="hangman-box"></div>

    <h1 class="word-use">letter use</h1>

    <img class="hangman-img" src="./img/hangman5.png"></div>

</body>
</html>