<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="..\assets\playstyle.css">
    <title>Play</title>
</head>
<body>
    <div class="ma-boite">
        <form action="./play" method="GET"></form>
            <div id="word-to-guess">
                <label id="word-to-guess-label">Word to guess: </label>
                <span id="word-to-guess-span">{{.WordToGuess}}</span>
              </div>
              
            <div class="wordfind">
                <h1 class="h1wordfind">WORD TO FIND</h1>
            </div>
    
            <div class="hangman-box">
                <h1 class="word-use">letter used</h1>
                
                <input type="text" name="text" id="text"  class="input" placeholder="Letter or word....">
                <button type="submit" class="btn">Submit</button>
    
                <img class="hangman-img" src="./img/hangman5.png"></div>
            </div>
        </form>
    </div>
</body>
</html>
