body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* Full viewport height */
  gap: 150px;
  background-image: linear-gradient(to top, #555 0%, #aaa 100%);
}

.card {
  font-family: "Roboto", sans-serif;
  z-index: 1;
  width: 180px;
  height: 235px;
  background: #e0e0e0;
  border-radius: 35px;
  box-shadow: 20px 20px 40px #bebebe, -20px -20px 40px #fff;
  transition: transform 0.2s; /* Smoother scaling transition */
  text-decoration: none;
  animation: changeColor 3s infinite alternate;
  position: relative; /* Needed for absolute positioning of child elements */
}

.card a {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  font-weight: bold;
  color: black;
  text-decoration: none;
}

/* Simplify hover effects */
.card-easy:hover,
.card-medium:hover,
.card-hard:hover {
  transform: scale(1.25);
  transition: transform 1s ease;
}

.card-easy:hover {
  background: linear-gradient(
    to bottom right,
    rgb(160, 238, 136) 40%,
    rgb(0, 255, 0) 80%
  );
}

.card-medium:hover {
  background: linear-gradient(
    to bottom right,
    rgb(238, 200, 136) 40%,
    rgb(223, 147, 32) 80%
  );
}

.card-hard:hover {
  background: linear-gradient(
    to bottom right,
    rgb(238, 136, 136) 40%,
    rgb(223, 32, 32) 80%
  );
}
