body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Full viewport height */
    gap: 150px;
    background-image: linear-gradient(to top, #555 0%, #aaa 100%);
}

form {

  display:flex;
  flex-direction: column;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);

}

label {

  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  color: #333;

}

input {

      width: 100%;
      padding: 12px;
      margin-bottom: 20px;
      border: 1px solid #ccc;
      border-radius: 6px;
      box-sizing: border-box;
      font-size: 16px;
      color: #555;
      background-color: #f5f5f5;
      transition: border-color 0.3s ease;

      

}

button {

   background-color: #007bff;
    color: #fff;
    padding: 12px 24px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;


}